@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

figure{
	margin: 1em auto;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

table{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

tr + tr td{
	padding: .25em 0 0;
}

td:last-child{
	text-align: right;
}

tfoot td:last-child{
	border-top: 1px solid;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}
/* End all epigraphs */

/* Epigraphs in section headers */
article > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: left;
}

@supports(display: table){
	article > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

[epub|type~="z3998:letter"] header,
footer{
	text-align: right;
}

[epub|type~="z3998:salutation"]{
	font-style: italic;
}

.signature,
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	text-align: left;
}

#the-encantadas-4 img{
	width: 1.5em;
}

#benito-cereno blockquote{
	margin-left: 0;
	margin-right: 0;
}

#benito-cereno blockquote header{
	text-align: center;
	font-style: italic;
	margin-bottom: 1em;
}

#benito-cereno blockquote header .signature{
	font-style: normal;
}

#benito-cereno .supplemental{
	font-style: italic;
}

#benito-cereno .supplemental i{
	font-style: normal;
}

#benito-cereno .signature + .signature{
	text-align: left;
}
